
body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; 
}

#body {
  text-align: center; 
}


h1 {
  margin-bottom: 50px; */
}


section {
  display: flex;
  flex-wrap: wrap; 
  gap: 20px; 
  justify-content: center; 
}


.weather-item {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  width: 200px; 
  text-align: center;

}

.weather-item img {
  max-width: 100%; 
  height: auto;
}

.weather-item h2 {
  margin: 0;
  font-size: 1.5em; 
}

.weather-item p {
  margin: 10px 0;
}
